<div class="col-md-3 padding-null">
  <div class="panel panel-default border-radius-null">
    <div class="panel-heading">
      <h3 class="panel-title">Pessoas ativas</h3>
    </div>
    <div class="panel-body seis">
      <div id="user_nav">
        <% if current_user %>
          Entrou como <strong class="usernameInput"><%= current_user.name %></strong>!
          <%= link_to "Sair", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Logar com Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </div>
    
      <ul class="pages">
        <li class="login page">
          <div class="form">
            
          </div>
        </li>
      </ul>
      <div class="users">
      </div>
      <!--div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div>
      <div class="col-md-3 padding-null"><%= image_tag "http://br.web.img2.acsta.net/c_100_100/b_1_d6d6d6/medias/nmedia/18/87/27/76/19906125.jpg", class: "img-circle" %></div-->
    </div>
  </div>
</div>


<div class="col-md-9 padding-null">
  <div class="panel panel-default border-radius-null margin-null border-lb-null">
    <div class="panel-heading">
      <h3 class="panel-title">Mensagens</h3>
    </div>
  </div>
  <div class="well border-radius-null border-null seis">
    <ul class="pages">
      <li class="chat page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
      </li>  
     </ul> 
  </div>

</div>
